.giscus {
  body {
    background: var(--card-bg);
  }
  h4 {
    color: var(--text-color);
  }

  .form-control {
    border-color: var(--main-border-color);
  }
  
  .color-border-primary {
    border-color: var(--main-border-color);
  }
  .color-box-border-info {
    border-color: var(--main-border-color);
  }
}