  @mixin dark-scheme { 
    --body-bg: var(--card-bg);
    --color-border-default: var(--main-border-color);
    --color-border-muted: var(--main-border-color);
    --color-border-secondary:var(--main-border-color);
  }

  @mixin light-scheme { 
    --body-bg: var(--card-bg);
    --color-border-default: var(--main-border-color);
    --color-border-primary: var(--main-border-color);
    --color-border-muted: var(--main-border-color);
    --color-border-secondary: var(--main-border-color);
  }